    </div> <!-- /.page -->
    <footer>
        &copy; 2018 - Celtic Chicago
    </footer>
    <script src="@@webRoot/js/main.js"></script>
    @@if (pageFooterScripts) { @@pageFooterScripts }
</body>
</html>