@@include('includes/_head.html', {
    "pageTitle": "Page-Specific Scripts",
    "pageHeaderScripts": "<script src=\"header.js\"></script>",
    "pageFooterScripts": "<script src=\"footer.js\"></script>"
})

<p>On this page, we injected some page-specific styling to the <code>_head.html</code> partial to make the body color <code>lightcoral</code>.</p>

@@include('includes/_footer.html')