body {
    margin: 0;
    font-family: sans-serif;
    color: #404040;
}
/*
 *  Header
 */
header {
    padding: 15px;
    background-color: #ddd;
}
header nav a {
    padding: 5px;
}
/*
 *  Footer
 */
footer {
    padding: 15px;
    background-color: #000;
    color: #fff;
}
/*
 *  Page
 */
.page {
    padding: 15px;
}
a {
    color: cornflowerblue;
}
a:visited {
    color: blueviolet;
}
a:hover, a:focus, a:active {
    color: darkblue;
}