@@include('includes/_head.html', {"pageTitle": "Examples"})

<p>Take a look at some examples on how to add to your prototype.</p>
<ul>
    <li><a href="./hello">Hello</a></li>
    <li><a href="./page-specific-styles">Page-Specific Styles</a></li>
    <li><a href="./page-specific-scripts">Page-Specific Scripts</a></li>
</ul>

@@include('includes/_footer.html')